<p id="notice"><%= notice %></p>

<h1>Our Agencies</h1>

<section class="container search">
  <form class="navbar-form" role="search">
    <div class="form-group">
      <input type="text" name="search" value="<%= @search %>" class="form-control" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    <button type="reset"  class="btn btn-warning"
            onclick="window.location.href='<%= agencies_path %>'">Reset</button>
  </form>
</section>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>City</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agencies.each do |agency| %>
      <tr>
        <td><%= agency.name %></td>
        <td><%= agency.email %></td>
        <td><%= agency.city %></td>
        <td><%= agency.state %></td>
        <td><%= link_to 'Show', agency %></td>
      </tr>
    <% end %>
  </tbody>
</table>